black==23.12.1
djitellopy==2.5.0
face_recognition_models==0.3.0
flake8==7.0.0
isort==5.13.2
mypy==1.8.0
mypy-extensions==1.0.0
numpy==1.26.3
opencv-python==4.9.0.80
pygame==2.5.2
python-dotenv
pytest==8.1.1
ultralytics==8.1.31